.user-item {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
}

.user-item img {
  width: 30px;
  height: 30px;
}

.user-item .texts {
  margin: 0;
  padding: 0;
}

.user-item .texts span {
  font-weight: 600;
}
