.member-item {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
}

.member-item img {
  width: 30px;
  height: 30px;
}

.member-item .texts {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.member-item .texts span {
  font-weight: 600;
}

.member-item .texts p {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.member-item .texts p::before {
  content: "Role:";
  font-size: 14px;
  font-weight: lighter;
  color: rgb(111, 134, 134);
}

.member-item .texts .role-select {
  pointer-events: all;
}
